[
    {
        "query":"g4dn的价格是多少",
        "intention":"价格咨询",
        "reply":"-"
    },
    {
        "query":"Athena查询的单价是多少？",
        "intention":"价格咨询",
        "reply":"-"
    },
    {
        "query":"Athena是如何计费的？",
        "intention":"价格咨询",
        "reply":"-"
    },
    {
        "query":"AWS Glue的 DPU Hour价格是多少？ ",
        "intention":"价格咨询",
        "reply":"-"
    },
    {
        "query":"AWS Glue的交互式会话的计算单价是多少？ ",
        "intention":"价格咨询",
        "reply":"-"
    },
    {
        "query":"Aurora的 I/O 费率是多少 ",
        "intention":"价格咨询",
        "reply":"-"
    },
    {
        "query":"Aurora备份存储怎么收费？",
        "intention":"价格咨询",
        "reply":"-"
    },
    {
        "query":"Lex的输入请求的单价是多少",
        "intention":"价格咨询",
        "reply":"-"
    },
    {
        "query":"SageMaker中ml.t3.large的notebook怎么收费？",
        "intention":"价格咨询",
        "reply":"-"
    }
]