{
    "api_schema":{
        "name": "QA",
        "description": "answer question according to searched relevant content"
    },
    "examples":[
        {
            "query":"什么是 AWS Organizations？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"如何从组织删除 AWS 成员账户？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"一个 AWS 账户可以是多个 OU 的成员吗？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"Amazon Rekognition 支持哪些图像和视频格式？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"Network Load Balancer 是否支持内部负载均衡器？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"对于创建堆栈失败期间回滚的资源，我是否需要付费？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"Amazon SQS 符合 HIPAA 要求吗？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"如何共享消息队列？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"Amazon EMR有哪些优势",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"FOOB Ticket 的链接是什么",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"怎么提交FOOB？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"怎么申请p4d p5?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"P5的spot limit应该怎么提？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"宁夏区的GPU资源的情况？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"inferentia2/traninium1中国区landing plan？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"GPU OD的价格基础上如何可以有进一步的折扣？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"需要提前多久申请FOOB？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"申请GPU实例的FOOB 链接是什么？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"ODCR预留实例怎么计费？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"怎么看资源分配是否有risk？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"What is \"Unoccupied hosts\" in baywatch",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"what is Free slots in baywatch?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"How do I know if the instance type is GA or not GA?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"what is FOOB?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"what are the use cases for FOOB?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"in what senarios, I need FOOB?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"what if the customer has EBS requirement",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"请用中文回答 what if the customer has EBS requirement",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"what are the differences between Incremental Capacity Request ICR ticket and Limit increase (Service Quota) request?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"how to request for p4d, p5",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"what is the approval template for requesting p4d?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"ODCR预留怎么计费？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"ODCR怎么享受RI 或者Savings Plan计费？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"what is baywatch?",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"怎么看现有的Capacity？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"申请gpu foob的流程是什么？",
            "detection":{
                "func":"QA"
            }
        },
        {
            "query":"OCI有多少多AZ region",
            "detection":{
                "func":"QA"
            }
        }
    ]
}