{
    "api_schema":{
        "name":"service_role",
        "description":"query the contact person in the organization",
        "parameters":{
            "type":"object",
            "properties":{
                "employee":{
                    "type":"string",
                    "description":"user's original input for query the service contact person"
                },
                "service":{
                    "type":"string",
                    "description":"the AWS service name"
                },
                "territory":{
                    "type":"string",
                    "description":"Generally, it is in [South, East, North, West]"
                },
                "Role":{
                    "type":"string",
                    "description":"Generally, it is in [SSA, SA, BD, Sales, GTMS]"
                }
            },
            "required":[
                "service"
            ]
        }
    },
    "example":[
        {
            "query":"quicksight的GTMS是谁",
            "detection":{
                "func":"service_role",
                "parameters":{
                    "service":"quicksight",
                    "role":"GTMS"
                }
            }
        },
        {
            "query":"quicksight的产品经理是谁？",
            "detection":{
                "func":"service_role",
                "parameters":{
                    "service":"quicksight",
                    "role":"GTMS"
                }
            }
        },
        {
            "query":"数据治理的GTMS是谁？",
            "detection":{
                "func":"service_role",
                "parameters":{
                    "service":"数据治理",
                    "role":"GTMS"
                }
            }
        },
        {
            "query":"AIML北区的Sales是谁？",
            "detection":{
                "func":"service_role",
                "parameters":{
                    "service":"AIML",
                    "territory":"north",
                    "role":"Sales"
                }
            }
        },
        {
            "query":"AIML北区的BD是谁？",
            "detection":{
                "func":"service_role",
                "parameters":{
                    "service":"AIML",
                    "territory":"north",
                    "role":"BD"
                }
            }
        },
        {
            "query":"Sagemaker相关问题应该联系谁？",
            "detection":{
                "func":"service_role",
                "parameters":{
                    "service":"SageMaker",
                    "role":"GTMS"
                }
            }
        },
        {
            "query":"Emr相关问题应该联系谁？",
            "detection":{
                "func":"service_role",
                "parameters":{
                    "service":"EMR",
                    "role":"GTMS"
                }
            }
        }
    ]
}