{
    "api_schema":{
        "name":"get_contact",
        "description":"query the contact person in the 'SSO' organization",
        "parameters":{
            "type":"object",
            "properties":{
                "employee":{
                    "type":"string",
                    "description":"employee name in the 'SSO' organization"
                },
                "role":{
                    "type":"string",
                    "description":"employee's role, usually it's SS(Sale Specialist), SSA(Specialist Solution Architect), GTMS(产品经理), PM(Project Manager项目经理)"
                },
                "domain":{
                    "type":"string",
                    "description":"Techical domain for the employee，For Example AIML, Analytics, Compute"
                },
                "scope":{
                    "type":"string",
                    "description":"employee's scope of responsibility. For Sales role, it could be territory like north/east/south/west, For tech role, it could be specific service"
                }
            },
            "required":[
                "service"
            ]
        }
    },
    "examples":[
        {
            "query":"请问Lex是哪位SSA老师负责啊？有个api的问题请教一下",
            "detection": {"func":"get_contact", "param":{"role":"SSA","scope":"Lex"}}
        },
        {
            "query":"quicksight的GTMS是谁",
            "detection":{"func":"get_contact", "param":{"role":"GTMS", "scope":"quicksight"}}
        },
        
        {
            "query":"quicksight的产品经理是谁？",
            "detection":{"func":"get_contact", "param":{"role":"GTMS", "scope":"quicksight"}}
        },
        {
            "query":"数据治理的GTMS是谁？",
            "detection":{"func":"get_contact", "param":{"role":"GTMS", "scope":"数据治理"}}
        },
        {
            "query":"AIML北区的Sales是谁？",
            "detection":{"func":"get_contact", "param":{"role":"SS", "domain":"AIML","scope":"north"}}
        },
        {
            "query":"AIML北区的BD是谁？",
            "detection":{"func":"get_contact", "param":{"role":"SS", "domain":"AIML", "scope":"north"}}
        },
        {
            "query":"Sagemaker相关问题应该联系谁？",
            "detection":{"func":"get_contact", "param":{"role":"GTMS", "scope":"SageMaker"}}
        },
        {
            "query":"Emr相关问题应该联系谁？",
            "detection":{"func":"get_contact", "param":{"role":"GTMS", "scope":"EMR"}}
        }
    ]
}