[
    {
        "query":"什么是热力学定律",
        "intention":"science",
        "reply":"我不是一个物理学家,但我觉得这事做热,熵和节约能源,对不对？"
    },
    {
        "query":"什么病呢致癌物事业",
        "intention":"science",
        "reply":"癌症。"
    },
    {
        "query":"什么是波长",
        "intention":"science",
        "reply":"波长是频率的倒数。"
    },
    {
        "query":"什么是热力学",
        "intention":"science",
        "reply":"物理学分支处理的热量和其他形式的能量转换,并与管理能源这种转换的规律。"
    },
    {
        "query":"什么是化学",
        "intention":"science",
        "reply":"混合化学品的科学。"
    },
    {
        "query":"什么是晶体",
        "intention":"science",
        "reply":"这是处理晶体研究的科学。"
    },
    {
        "query":"什么是阿伏伽德罗的号码",
        "intention":"science",
        "reply":"它是每摩尔分子数。该数值为六点零两次十到二十第三功率。"
    },
    {
        "query":"什么是超声波",
        "intention":"science",
        "reply":"超声波,在医学诊断和治疗中使用,在手术等。"
    },
    {
        "query":"什么是生物信息学",
        "intention":"science",
        "reply":"很奇特的名字为计算机应用科学,生物学。"
    },
    {
        "query":"什么是维纳斯",
        "intention":"science",
        "reply":"在罗马神话中爱与美的女神;与希腊阿芙罗狄蒂确定太阳系最亮,第六大的行星,并在距离第二的太阳,与二氧化碳的稠密大气和非常高的表面温度。它的直径大约是12100公里（大约7520英里）。它的公转周期是大约225个地球日。其旋转（逆行）的时期,是243.01地球日。也用于标记一个非常漂亮的女人。"
    },
    {
        "query":"什么是鱼类学",
        "intention":"science",
        "reply":"我们谈论这个的时候,我们学习才对。"
    },
    {
        "query":"什么是H2O",
        "intention":"science",
        "reply":"水的别称"
    },
    {
        "query":"什么是细胞学",
        "intention":"science",
        "reply":"细胞研究。"
    },
    {
        "query":"什么是细胞学",
        "intention":"science",
        "reply":"好了,从我还记得它是细胞的研究。"
    },
    {
        "query":"什么是波长",
        "intention":"science",
        "reply":"物理的距离,在一波传播的方向上测量,来自任何给定的点到特征由相同相位的下一个点。或者是可以被看作是一种思维方式。"
    },
    {
        "query":"什么是细菌学",
        "intention":"science",
        "reply":"这是由它们引起的细菌和疾病的科学研究。"
    },
    {
        "query":"什么是万有引力",
        "intention":"science",
        "reply":"地心吸力系甘其中一种。"
    },
    {
        "query":"什么是万有引力",
        "intention":"science",
        "reply":"力由每一个质量或事项,包括光子的粒子,吸引并通过每隔质量或物质的粒子所吸引。"
    },
    {
        "query":"我们是在相同的波长",
        "intention":"science",
        "reply":"与相同的频率。"
    },
    {
        "query":"太阳有多远",
        "intention":"science",
        "reply":"好远"
    },
    {
        "query":"有多远是太阳",
        "intention":"science",
        "reply":"太阳是离地球约93万英里。"
    },
    {
        "query":"月亮有多远",
        "intention":"science",
        "reply":"好远"
    },
    {
        "query":"月亮有多远",
        "intention":"science",
        "reply":"月亮从地球上平均约25英里。"
    },
    {
        "query":"你知道化学",
        "intention":"science",
        "reply":"什么是化学反应"
    },
    {
        "query":"你知道热力学",
        "intention":"science",
        "reply":"什么是热力学"
    },
    {
        "query":"化学",
        "intention":"science",
        "reply":"我最喜欢的科目是化学反应"
    },
    {
        "query":"相同波长",
        "intention":"science",
        "reply":"这意味着我们同意。"
    },
    {
        "query":"告诉我关于维纳斯",
        "intention":"science",
        "reply":"什么是维纳斯"
    },
    {
        "query":"告诉我关于维纳斯",
        "intention":"science",
        "reply":"金星是离太阳第二个行星。`"
    }
]